<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="tap-login-container m-3 w-md-75 mx-auto">
        <div class="tap-img-container d-none d-sm-block w-50 m-5"></div>
        <div class="tap-forms-container m-3 m-md-0  w-50">
            <div>
                <!-- <div [hidden]="authProcessStatus !== AuthProcessStatus.LOGIN">
          <pac-TAP-login-form></pac-TAP-login-form>
        </div> -->
                <app-login-form></app-login-form>
            </div>

            <div>
                <!-- <div [hidden]="authProcessStatus !== AuthProcessStatus.INITIATED">
          <pac-TAP-reset-password-form></pac-TAP-reset-password-form>
        </div> -->
                <app-reset-password-form></app-reset-password-form>
            </div>

            <div>
                <!-- <div [hidden]="authProcessStatus !== AuthProcessStatus.PASSWORD_RESET">
          <pac-TAP-auth-app-registration></pac-TAP-auth-app-registration>
        </div> -->
                <app-auth-app-registration></app-auth-app-registration>
            </div>

            <div>
                <!-- <div [hidden]="authProcessStatus !== AuthProcessStatus.REGISTERED">
          <pac-TAP-authentication-form></pac-TAP-authentication-form>
        </div> -->
                <app-authentication-form></app-authentication-form>
            </div>
        </div>
    </div>
</div>