<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="card my-5">
                <div class="card-body">
                    <a href="#" class="d-flex justify-content-center">
                        <img src="assets/images/logo1.png" style="width: 250px; padding-bottom: 50px;" alt="logo" />
                    </a>
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="auth-header">
                            </div>
                        </div>
                    </div>
                    <div class="d-grid">
                        <h4 style="color: #2196f3;"><b>2FA REGISTRATION</b></h4>
                    </div>
                    <div class="qr-placeholder d-flex justify-content-center align-items-center"
                        style="height: 200px; border: 2px dashed #2196f3; border-radius: 8px; margin-top: 20px;">
                    </div>
                    <div class="d-grid mt-4">
                        <button type="button" class="btn btn-primary"
                            routerLink="/guest/2fa-verification-code">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>